:root {
    --default-body-color: maroon;
    color: white;
}

body {
    background-color: var(--default-body-color);
    transition: background-color 1s;
}

.weather-container {
    background-color: var(--default-bg-color);
    transition: background-color 1s;
    width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}


.weather-description {
    margin: 0.5rem;
    margin-left: 0.2rem;
}

/* Weather conditions and their styles */
.weather-sunny {
    --default-bg-color: #ffca3a;
    background-color: var(--default-bg-color);
    color: maroon;
}

.weather-cloudy {
    --default-bg-color: #b0c4de;
    background-color: var(--default-bg-color);
    color: darkgreen;
}

.weather-rainy {
    --default-bg-color: #5f9ea0;
    background-color: var(--default-bg-color);
    color: darkred;
}

.weather-stormy {
    --default-bg-color: #31219a;
    background-color: var(--default-bg-color);
    color: white;
}

/* body{
    background-color: maroon;
} */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp {
    font-size: 4.5rem;
}

.time-location {
    font-size: 2rem;
    text-align: center;
}

.condition{
    margin: 0.5rem;
    margin-left: 0.2rem;
}

nav{
    height: 80px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding-left: 20px ;
    padding-right: 20px;
    border-bottom: 1px solid black;

}
nav div button {
        padding: 0.5rem;
            background-color: white;
            margin: auto;
            font-size: 1.1rem;
            outline: none;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.2)
}

.search-area{
    padding: 0.5rem 0;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 0.8rem;
    border-bottom: 1px solid lightgrey;

}

nav form button {
    padding: 0.5rem;
    background-color: white;
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.1rem;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.2)
}

.temperature-toggle {
    display: flex;
    margin-top: 1rem;
}

.fahrenheit-btn,
.celsius-btn {
    background-color: white;
    margin-right: 0.5rem;
    padding: 0.2rem 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 0.8rem;
}

.weather-icon {
    font-size: 2rem;
    margin-right: 0.5rem;
}